# Compiled class file
*.class

# CI might build libcue locally, in which case we want it ignored.
libcue/

# Maven
target/
!**/src/main/resources/archetype-resources/**/target/
!**/src/test/resources/archetype-resources/**/target/
!**/src/main/resources/filtered-resources/**/target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Visual Studio Code
.vscode/

# Log file
*.log

# Package Files
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
